@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fish Club</h1>
    <p>On this website, you can sign up to add fishes and other aquatic animals that you have encountered. 
    You can also add comments and rate this fish. You will also be able to search for fish.</p>
</div>
